/* body{
    background-color: rgb(8, 8, 250)
    cornflowerblue rgb(223, 245, 171);  
}
h2  {
    color: #245bf1;
}
    .titulo_seção{
        color: #eb3678;
    }
#nome_cursista{
    font-synthesis-weight: bold;
    font-size: 30px;
    color: yellow;
} */


body{
    background-color: #114134;
    color: #93ec8c;
}
h2{
    color: #eae466;
}
.titulo_secao{
    color: #009739;
}
#nome_cursista{
    font-weight: bold;
    font-size: 45px;
    color: #eae466;
}


